#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes grow-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-slide {
  0% {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.animate-fade-slide {
  animation: fade-slide 0.3s ease-out;
}

